@charset "UTF-8";
header {
   height: 70px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
header > i {
   position: absolute;
   top: 35px;
   right: 35px;
}
#x {
   display: none;
}
ul, li {
   list-style-type: none;
   margin: 0 auto;
   padding: 0;
}
.menu {
   width: 300px;
   position: fixed;
   right: 0px;
   top: 80px;
   border-left: ridge;
   display: none;
   z-index: 2;
}
a {
   text-decoration: none;
   color: black;
}
a:hover {
   color: #5a9cf2;
}

.menu_box {
   height: 1000px;
   line-height: 40px;
   margin: 0 80px;
   padding: 10px;
}
.menu_box > ul li {
   font-size: 12px;
   font-weight: bold;
}
/*header menu 끝*/

.login_pg{
   position: relative;
   width: 1000px;
   margin: 0 auto;
}
.blue{
   width: 200px;
   position: absolute;
   top: 100px;
   left: 420px;
}
.logbox {
   width: 350px;
   height: 440px;
   background: #f5c02f;
   border: 3.2px solid black;
   padding: 25px;
   position: absolute;
   top: 180px;
   left: 315px;
}
label {
   font-size: x-large;
   font-weight: 600;
   margin: 10px;
}
form div {
   margin: 20px;
   margin-bottom: 40px;
}
input[type="text"], input[type="password"] {
   width: 300px;
   height: 40px;
   border-radius: 10px;
   margin: 20px 0;
}
input[type="submit"] {
   width: 170px;
   height: 40px;
   border-radius: 10px;
   left: 115px;
   position: absolute;
   font-size: inherit;
   background: #f26b50;
   color: white;
   font-weight: bold;
}
.tosign {
   position: absolute;
   left: 170px;
   top: 420px;
}